*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav{
    background-color: #3a32cf;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    margin: 30px;
}
li{
    list-style: none;
    
}
li:hover{
    background-color: #cf3235;
    color: aliceblue;
}
main{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.seccion_buscar{
    background-color: aqua;
}
.seccion_buscar{
    background-color: chocolate;
}
section{
    margin: 30px;
}
.seccion_cards{
   height: 90%;
    background-color: bisque;
}
.container_cards{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin: 15px;
    flex-wrap: wrap;
}

.seccion_conocer{
    flex-wrap: wrap;
    background-color: #de7b7d;
}
.seccion_form{
    background-color: blueviolet;
}