<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="shortcut icon" href="./assets/img/casa.png" type="image/x-icon">

  <!-- link directo a bootsrap en internet -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

  <!-- link a bootstrap local -->
  <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/templo-kolegio" rel="stylesheet">
  <title>Inmo_PY</title>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="container-fluid">

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./index.html"><i class="fa-solid fa-house"></i></a>
            </li>

            <li class="nav-item dropdown">
              <!-- <a class="navbar-brand" href="#">Inicio</a> -->
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Ventas
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="./propiedades.html">Casas</a></li>
                <li><a class="dropdown-item" href="#">Departamentos</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Campos</a></li>
                <li><a class="dropdown-item" href="#">Locales Comerciales</a></li>

              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Alquiler
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Departamento</a></li>
                <li><a class="dropdown-item" href="#">Casa</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Local comercial</a></li>
                <li><a class="dropdown-item" href="#">Galpón</a></li>

              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Alquiler Temporario
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Todos</a></li>
                <li><a class="dropdown-item" href="#">Departamento Amueblado</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Casa</a></li>
                <li><a class="dropdown-item" href="#">Casa campo</a></li>

              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link " aria-disabled="true" href="./contacto.html">Contacto</a>
            </li>
            
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="./propiedades.html">Casas</a></li>
              <li><a class="dropdown-item" href="#">Departamentos</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Campos</a></li>
              <li><a class="dropdown-item" href="#">Locales Comerciales</a></li>

            </ul>

          </ul>

        </div>

      </div>
    </nav>
  </header>


  <main>
   <section class="container">
    <h2>Nueva propiedad</h2>

    <form action="./adminPrincipal.html">
        <div class="mb-3 mt-3">
          <label for="text" class="form-label">Código:</label>
          <input type="text" class="form-control" id="codigo" placeholder="Codigo Propiedad" name="codigo">
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Precio:</label>
          <input type="precio" class="form-control" id="precio" placeholder="Precio" name="precio">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Localidad:</label>
            <input type="localidad" class="form-control" id="localidad" placeholder="Ingrese Localidad" name="localidad">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Descripción:</label>
            <input type="descripcion" class="form-control" id="descripcion" placeholder="Descripción" name="descripcion">
        </div>
        <button type="submit" class="btn btn-success">Agregar</button>
      </form>
   </section>
  </main>
 

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="./assets/js/app.js"></script>
  <script src="https://kit.fontawesome.com/e6f12faa36.js" crossorigin="anonymous"></script>

</body>

</html>