
{% extends 'layout.html' %}
{% block content %}
    <section class="seccion_buscar">
      <div class="container-fluid">
        <form class="row g-3 justify-content-center mt-3">
          <div class="col-auto">

            <input type="text" class="form-control" id="localidad" placeholder="Dónde queres mudarte?" value="">

          </div>
          <!-- <div class="col-auto">
                  
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Default checkbox
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                      <label class="form-check-label" for="flexCheckChecked">
                        Checked checkbox
                      </label>
                    </div>
              </div> -->
          <div class="col-auto">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Tipo de propiedad
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                    <label class="form-check-label" for="checkbox1">
                      Casa
                    </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox2">
                    <label class="form-check-label" for="checkbox2">
                      Departamento
                    </label>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox3">
                    <label class="form-check-label" for="checkbox3">
                      Duplex
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-auto">

          </div>
          <div class="col-auto">
            <select class="form-select" id="selectOptions">
              <option selected>Operación</option>
              <option value="1">Comprar</option>
              <option value="2">Alquilar</option>
              <option value="3">Vender</option>
            </select>
          </div>

          <div class="col-auto">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Selecciona rango de precios
              </button>
              <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                <div class="mb-3">
                  <label for="priceMin" class="form-label">Precio mínimo: $</label>
                  <input type="number" class="form-control" id="priceMin" placeholder="Min">
                </div>
                <div class="mb-3">
                  <label for="priceMax" class="form-label">Precio máximo: $</label>
                  <input type="number" class="form-control" id="priceMax" placeholder="Max">
                </div>
                <button type="button" class="btn btn-primary w-100">Aplicar</button>
              </div>
            </div>
          </div>


          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Filtrar</button>
          </div>
        </form>
        <div class="titulo_inmo">
          <h1 class="titulo_inmo">Inmuebles</h1>
        </div>

      </div>
    </section>
    <section class="seccion_cards">
      <div class="container_cards">
        {% for inmueble in inmuebles %}
        <div class="card" style="width: 18rem;">
          <img src="{{ url_for('static', filename='assets/img/casa1.jpg') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{inmueble.tipo_inmueble}}</h5>
            <p class="card-text">{{ inmueble. descripcion }}
              </p>
          </div>
        </div>
        {% endfor %}
        
      </div>

    </section>
  
  {% endblock %}
  